<h1>Sensor Alert: <%= @sensor.measurement_type %></h1>
<p><%= @message %></p>
<p>Data Value: <%= @data_point.value %> <%= @sensor.measurement_unit %></p>
<p>Timestamp: <%= @data_point.timestamp %></p>
