<div class="mt-4">
  <% if control_signals.empty? %>
    <p class="text-sm theme-text-secondary italic">No control signals registered yet.</p>
  <% else %>
    <ul class="grid sm:grid-cols-2 md:grid-cols-3 gap-4 h-auto">
      <% control_signals.each do |signal| %>
        <li class="border border-bg-primary rounded-lg shadow-sm theme-bg-alt flex flex-col justify-between">
          <div class="flex p-4  justify-between items-start flex-0">
            <h3 class="text-xl font-bold theme-text-primary">
              <%= sanitize(signal.label.presence || signal.signal_type) %>
            </h3>
            <%= link_to "Edit", edit_plant_module_control_signal_path(plant_module, signal),
                class: "text-blue-500 hover:underline text-sm" %>
          </div>
          <hr class="border-b-[0.5] border-bg w-full">

          <%= render "control_executions/control_execution", signal: signal, control_execution: signal.control_executions.order(executed_at: :desc).first %>

          <div class="flex px-4  flex-col justify-start flex-1">
            <p class="theme-text-primary font-semibold text-sm mt-2" >
              Type: <span class="theme-text-secondary font-normal"><%= sanitize(signal.mode.titleize) %></span><br/>
              Pulse Length: <span class="theme-text-secondary font-normal"><%= format_duration(signal.length, signal.length_unit) || "none" %></span>
              
            </p>
          </div>
          <div class="px-4">
            <% last_execution = signal.control_executions.order(executed_at: :desc).first %>
            <% if last_execution && signal.mode == "scheduled" %>
              <% scheduled_time = MqttListener.next_scheduled_trigger(signal) %>
              <p class="text-sm theme-text-primary font-semibold mt-2">
                Next trigger is <span class="theme-text-secondary font-normal"><%= distance_of_time_in_words(Time.current, scheduled_time) %> from now
              </p>

              <p class="text-sm theme-text-primary font-semibold">
                Last triggered <span class="theme-text-secondary font-normal"><%= time_ago_in_words(last_execution.executed_at) %> ago</span>
              </p>
            <% elsif last_execution and signal.mode == "automatic" %>
              <p class="text-sm theme-text-primary font-semibold mt-2">
  
                Threshold value: <span class="theme-text-secondary font-normal"><%= signal.threshold_value.to_i %></span>
              </p>
              <p class="text-sm theme-text-primary font-semibold">
  
                Last triggered <span class="theme-text-secondary font-normal"><%= time_ago_in_words(last_execution.executed_at) %> ago</span>
              </p>
            <% elsif last_execution %>
              <p class="text-sm theme-text-primary font-semibold mt-2">
                Last triggered <span class="theme-text-secondary font-normal"><%= time_ago_in_words(last_execution.executed_at) %> ago</span>
              </p>
            <% else %>
              <p class="text-sm theme-text-secondary">Not triggered yet</p>
            <% end %>
          </div>

          <%= render "control_signals/control_toggle_button", signal: signal %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
