<div class="container mx-auto p-6" data-controller="tabs" data-tabs-default-value="care">
  <!-- Navigation Link -->
  <div class="mb-6 flex flex-row items-center justify-between">
    <%= link_to sanitize("Back to Modules"), plant_modules_path,
          class: "btn-secondary px-4 py-2 rounded-lg transition duration-300 inline-block" %>
    <div class="flex gap-6 justify-end items-center">
      <%= link_to "Edit Module", edit_plant_module_path(@plant_module), class: "btn-primary px-4 py-2 rounded-lg transition duration-300 inline-block" %>
      <%= button_to "Delete Module", plant_module_path(@plant_module), method: :delete, data: { turbo_confirm: "Are you sure you want to delete this module?" }, class: "bg-red-600 text-white px-4 py-2 rounded-lg inline-block" %>
    </div>
  </div>

  <!-- Module Title & Description -->
  <h1 class="text-3xl font-bold theme-text-primary">
    <%= sanitize(@plant_module.name) %>
  </h1>
  <p class="theme-text-secondary">
    <%= sanitize(@plant_module.description) %>
  </p>
  <% if @plant_module.location %>
    <p class="text-sm theme-text-secondary">
      <% if @plant_module.location_type.downcase == "outdoor" %>
        <% if @zone_data.present? %>
          <%= sanitize(@plant_module.zip_code) %>: Zone <%= sanitize(@zone_data[:zone]) %>
        <% else %>
          <%= sanitize(@plant_module.zip_code) %>: Zone unknown
        <% end %>
      <% end %>
    </p>
  <% end %>

  <!-- Selected Plants -->
  <div class="mt-8">
    <h2 class="text-2xl font-semibold theme-text-primary">Plants</h2>
    <%= render "plants/list", plants: @plant_module.plants %>
  </div>

  <!-- Tab Buttons -->
  <div class="flex space-x-4 mt-10 border-b pb-2" role="tablist">
    <% %w[care control sensors].each do |tab| %>
      <button
        type="button"
        class="tab-btn text-lg font-medium px-3 py-2 rounded-md transition hover:cursor-pointer"
        data-action="tabs#switch"
        data-tabs-target="tab"
        data-tab="<%= tab %>">
        <%= tab.capitalize.gsub("_", " ") %>
      </button>
    <% end %>
  </div>

  <!-- Tab Content -->
  <div class="mt-6 space-y-6">
    <div data-tabs-target="panel" data-tab-panel="care" class="tab-panel">
      <h2 class="text-2xl font-semibold theme-text-primary">Care Schedule</h2>
      <ul class="list-disc list-inside theme-text-secondary">
        <li>Water every <%= @plant_module.care_schedule.watering_frequency %> days</li>
        <li>Fertilize every <%= @plant_module.care_schedule.fertilizer_frequency %> days</li>
        <li>Light exposure: <%= @plant_module.care_schedule.light_hours %> hrs/day</li>
        <li>Soil Moisture Preference: <%= sanitize(@plant_module.care_schedule.soil_moisture_pref) %></li>
      </ul>
      <%= link_to "Edit Module", edit_plant_module_path(@plant_module), class: "text-blue-500 hover:underline mt-2 inline-block" %>
    </div>

    <div data-tabs-target="panel" data-tab-panel="control" class="tab-panel hidden">
      <h2 class="text-2xl font-semibold theme-text-primary">Control Signals</h2>
      <%= render "control_signals/list", plant_module: @plant_module, control_signals: @plant_module.control_signals %>
    </div>

    <div data-tabs-target="panel" data-tab-panel="sensors" class="tab-panel hidden">
      <h2 class="text-2xl font-semibold theme-text-primary">Sensors</h2>
      <turbo-frame id="sensors_list" data-controller="notification">
        <%= render "sensors/list", plant_module: @plant_module, sensors: @plant_module.sensors %>
      </turbo-frame>
    </div>

    <div>
      <% if @plant_module.photos.any? %>
        <h2 class="text-2xl font-semibold theme-text-primary">Recent Photo</h2>
        <%= image_tag @plant_module.photos.order(created_at: :desc).first.image %>
      <% else %>
        <p> No Photos </p>
      <% end %>
    </div>
  </div>
</div>
