<div class="container mx-auto p-6">
  <div class="mb-6">
    <%= link_to sanitize("Back to Home"), root_path,
        class: "btn-secondary px-4 py-2 rounded-lg transition duration-300 inline-block" %>
  </div>

  <h1 class="text-3xl font-bold theme-text">
    <%= sanitize(@plant_module.name) %>
  </h1>
  <p class="theme-text">
    <%= sanitize(@plant_module.description) %>
  </p>
  <p class="text-sm theme-text">
    Location: <%= sanitize(@plant_module.location) %>
  </p>

  <!-- Example container with dark mode classes -->
  <div class="container mt-6 mx-auto flex items-center justify-center theme-bg-alt p-4 border border-gray-200 dark:border-gray-700 rounded-lg">
    <p class="theme-text">
      Placeholder for LLM Advice or Random Fun Fact
    </p>
  </div>

  <h2 class="text-2xl font-semibold mt-4 mb-8 theme-text">Sensors</h2>
  <ul>
  <div data-controller="chart">
  <% @sensors.each do |sensor| %>
    <li class="flex flex-col mb-4 items-center theme-bg-alt p-4 shadow-lg rounded-lg">
      <div class="flex-shrink-0 w-full items-start mb-6">
        <h2 class="text-xl font-bold theme-text">
          <%= sanitize(sensor.measurement_type) %>
        </h2>
      </div>

      <% if @sensor_data[sensor.id].any? %>
        <div class="mt-4 w-full" data-chart-target="chart" id="chart-<%= sensor.id %>">
          <%= line_chart @sensor_data[sensor.id], 
            xtitle: "Time", 
            ytitle: sanitize(sensor.measurement_unit),
            colors: ["#34D399", "#FFFFFF"], # Green color
            library: { 
              backgroundColor: "transparent",
              legend: { labels: { fontColor: "black" } }, # Default Light Mode
              scales: {
                x: { ticks: { fontColor: "black" } },
                y: { ticks: { fontColor: "black" } }
              },
              datasets: [
                { borderColor: "rgb(34, 197, 94)", backgroundColor: "rgba(34, 197, 94, 0.2)" } # Green color
              ]
            } %>
        </div>
      <% else %>
        <p class="theme-text mt-2">No time series data available for this sensor.</p>
      <% end %>
      <%= link_to sanitize("View History"), sensor_time_series_path(sensor),
            class: "text-blue-500 hover:underline ml-2" %>
    </li>
  <% end %>  
</div>

  <%= button_to sanitize("Water Now"), mqtt_water_path, class: "text-blue-500 hover:underline", method: :post,
   params: {plant_module_id: @plant_module.id}, remote: true %>

  </ul>
</div>
