<ul class="mt-4">
    <% @sensors.each do |sensor| %>
    <li class="flex flex-col mb-4 items-center theme-bg-alt p-4 shadow-lg rounded-lg">
        <div class="flex flex-shrink-0 w-full items-start justify-between mb-6">
            <h2 class="text-xl font-bold theme-text-primary">
                <%= sanitize(sensor.measurement_type) %>
            </h2>
            <button data-action="click->notification#openModal" class="text-yellow-500 focus:outline-none hover:cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V4a2 2 0 10-4 0v1.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                </svg>
            </button>
        </div>
        <!-- Date range inputs and chart container with both controllers -->
        <div class="w-full" data-controller="sensor-filter dark-mode-chart"
            data-sensor-filter-sensor-id-value="<%= sensor.id %>">
            <!-- Date Inputs -->
            <!-- Turbo Frame for Chart -->
            <turbo-frame id="chart-<%= sensor.id %>">
                <% if @sensor_data && @sensor_data[sensor.id] && @sensor_data[sensor.id].any? %>
                    <%= render "sensors/sensor_chart_inline", sensor: sensor, data: @sensor_data[sensor.id] %>
                <% else %>
                    <p class="theme-text-primary mt-2">No time series data available for this sensor.</p>
                <% end %>
            </turbo-frame>
        </div>
        <%= link_to sanitize("View History"), sensor_time_series_path(sensor),
            data: { turbo: false },
            class: "text-blue-500 hover:underline ml-2" %>
        <turbo-frame id="notification_section"></turbo-frame>

        <div id="notification-modal" 
            class="fixed inset-0 flex items-center justify-center bg-opacity-50 hidden"
            data-action="click->notification#closeOnBackgroundClick">
            <div class="theme-bg border-bg-alt shadow rounded-lg shadow-lg p-6 relative w-11/12"
                data-action="click->notification#stopPropagation">
            <button data-action="click->notification#closeModal" class="hover:cursor-pointer absolute top-2 right-4 text-red-500 hover:text-red-700 text-2xl">
                &times;
            </button>
            <h2 class="text-xl font-bold mb-4 theme-text-primary">Notification Settings</h2>
            <%= form_with model: sensor, url: update_notification_settings_plant_module_sensor_path(sensor.plant_module, sensor), method: :patch, data: { turbo_frame: "notification_section" }, class: "theme-text-primary" do |f| %>
                <div class="mb-4 flex items-center gap-4">
                <%= f.label :notifications, "Notifications" %>
                <%= f.check_box :notifications %>
                </div>
                <div class="mb-4">
                <%= f.label :thresholds, "Thresholds (comma-separated)", class: "theme-text-secondary" %>
                <%= f.text_field :thresholds, value: sensor.thresholds.join(', '), class: "text-box border p-2 rounded w-full" %>
                </div>
                <div class="mb-4">
                <%= f.label :messages, "Messages (comma-separated)", class: "theme-text-secondary" %>
                <%= f.text_field :messages, value: sensor.messages.join(', '), class: "text-box border p-2 rounded w-full" %>
                </div>
                <%= f.submit "Save Notification Settings", class: "btn-primary px-4 py-2 rounded-lg" %>
            <% end %>      
            </div>
        </div>
    </li>
    <% end %>
    <div class="mt-4">
    <%= button_to sanitize("Water Now"), mqtt_water_path, class: "text-blue-500 hover:underline", method: :post,
        params: { plant_module_id: @plant_module.id }, remote: true %>
    </div>
</ul>
<div class="mb-4">
  <!-- Render the new sensor form -->
  <%= render "sensors/form", plant_module: plant_module, sensor: Sensor.new %>
</div>
