<div class="container mx-auto p-6 theme-text">
  <div class="mb-6">
    <%= link_to "Back to Plant Module", plant_module_path(@sensor.plant_module),
          class: "btn-secondary text-white px-4 py-2 rounded-lg transition duration-300 inline-block" %>
  </div>

  <h1 class="text-3xl font-bold"><%= sanitize(@sensor.measurement_type) %> Data</h1>
  <p class="theme-text"><strong>Unit:</strong> <%= sanitize(@sensor.measurement_unit) %></p>

  <!-- Dropdown to Select Days -->
  <div class="mb-4 flex flex-row items-center gap-4">
    <label for="days" class="block theme-text font-semibold">Show data for past:</label>
    <select 
      data-controller="sensor-filter" 
      data-action="change->sensor-filter#update"
      data-sensor-id="<%= @sensor.id %>"
      id="days" 
      class="select px-3 py-2 rounded cursor-pointer hover:cursor-pointer"
    >
      <option value="5">5 Days</option>
      <option value="10">10 Days</option>
      <option value="15">15 Days</option>
      <option value="25">25 Days</option>
      <option value="100">100 Days</option>
    </select>
  </div>

  <!-- Turbo Frame for Chart -->
  <turbo-frame id="sensor_chart">
    <%= render "sensors/chart", sensor: @sensor, time_series_data: @time_series_data %>
  </turbo-frame>
</div>
