<div class="container mx-auto p-6">
  <div class="mb-6">
    <%= link_to sanitize("Back to Plant Module"), plant_module_path(@sensor.plant_module),
          class: "bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition duration-300 inline-block" %>
  </div>

  <h1 class="text-3xl font-bold"><%= sanitize(@sensor.measurement_type) %> Data</h1>
  <p class="text-gray-600"><strong>Unit:</strong> <%= sanitize(@sensor.measurement_unit) %></p>
  <div class="h-120">
    <% if @time_series_data.any? %>
        <%= line_chart @time_series_data, 
            xtitle: "Time", 
            ytitle: sanitize(@sensor.measurement_unit),
            colors: ["#34D399", "#FFFFFF"], # Green color
            library: { 
              backgroundColor: "transparent",
              legend: { labels: { fontColor: "white" } },
              scales: {
                x: { ticks: { fontColor: "white" } },
                y: { ticks: { fontColor: "white" } }
              },
              datasets: [
                { borderColor: "rgb(34, 197, 94)", backgroundColor: "rgba(34, 197, 94, 0.2)" } # Green color
              ]
            } %>


    <% else %>
        <p class="text-gray-500 mt-4">No time series data available for this sensor.</p>
    <% end %>
  </div>

  <%= link_to "Back to Plant Module", plant_module_path(@sensor.plant_module), class: "text-blue-500 hover:underline mt-4 block" %>
</div>
