<!DOCTYPE html>
<html data-controller="dark-mode">
  <head>
    <title><%= content_for(:title) || "PlantHub" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <%= tag.meta name: "vapid-public-key", content: Rails.configuration.x.vapid.public_key %>

    <link rel="icon" href="/icons/planthub.png" type="image/png">
    <link rel="icon" href="/icons/planthub.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icons/planthub.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      .flash__alert { color: red; }
      .flash__notice { color: blue; }
      .flash__success { color: green; }
    </style>
  </head>

  <body class="theme-text-primary theme-bg w-full">
    <header>
      <%= render "shared/navbar" %>
    </header>
    <div id="flash_messages" class="fixed w-full top-20 z-50">
      <%= render "shared/flash" %>
    </div>
    <main class="absolute mx-auto px-5 flex top-20 w-full pb-8">
      <%= yield %>
    </main>
  </body>
</html>
